--extra-index-url https://us-central1-python.pkg.dev/repcore-prod/python/simple/
appengine-python-standard==1.1.5
build==1.2.1
keyrings.google-artifactregistry-auth==1.1.2
pytest==7.0.1
PyYAML==6.0.1
twine==6.1.0
wheel==0.43.0
